
.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.wrapper{
    width:  400px;
    margin: 0 auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: rgb(2, 2, 92);
    margin: 100px 0 400 100 ;
}

/* .main{
    width: 400px;
    height: 100px;
    background-color: blue;
} */

.left {
    width: 150px;
    height: 250px;
    background-color: rgb(142, 221, 235);
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    background-color: rgb(156, 4, 29);
    float: left;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: rgb(255, 123, 0);
}
*{
    margin: 0;
    padding: 0;
}
